body {
/*
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Slab', serif;
*/
  background: #f3f3f3 url("../img/header_bg.png") no-repeat top center fixed;
  background-size: 1674px 648px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.reset-list {
  margin: 0;
  padding: 0;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.menu {
  margin-left: 28px;
}
.main-burger {
  position: relative;
  width: 22px;
  height: 13px;
  margin-left: 10px;
}
.burger-line {
  position: absolute;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: #0d3351;
}
.burger-line-1 {
  top: 13px;
}
.burger-line-2 {
  top: 6px;
}
.burger-line-3 {
  top: -1px;
}
.main-menu ul {
  display: none;
  box-sizing: border-box;
  padding: 75px 45px;
  width: 420px;
  background-color: #0d3351;
  list-style: none;
}
.user-block {
  margin-right: 21px;
}
.main-menu a {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  letter-spacing: 0.9px;
  text-decoration: none;
}
.user-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.user-menu a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.7px;
  color: #0d3351;
  text-decoration: none;
}
.user-menu a:not(:last-child) {
  padding-left: 15px;
}
.user-menu ul {
  list-style: none;
}
.user-menu li {
  padding-left: 20px;
  padding-right: 20px;
}
.user-info {
  width: 130px;
}
.user-info .phone {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.user-info p {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px; 
  letter-spacing: 0.5px;
  margin: 0;
}
.personal-area-list,
.currency-list,
.language-list {
  display: none;
}
.personal-area,
.currency,
.language {
  position: relative;
}
.personal-area {
  background: url("../img/user.svg") no-repeat 0 2px;
}
.currency {
  background: url("../img/ruble.svg") no-repeat 0 2px;
}
.personal-area::after,
.currency::after,
.language::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #000;
}
.wrapper {
  text-align: center;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.8px;
  color: #0d3351;
  margin: 30px 0px;
}
h1 span {
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
  letter-spacing: -2.5px;  
}
.button {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.7px;
  color: #fff;
  text-decoration: none;
  background-color: #33c7fd;
  padding: 15px 50px;
}
.button:focus {
  outline: 2px solid #3254ff;
}
