body {
/*
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Slab', serif;
*/
  background: #f3f3f3 url("../img/header_bg.png") no-repeat top center;
  background-size: 1674px 648px;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.reset-list {
  margin: 0;
  padding: 0;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}
.main-menu {
  position: relative;
}
.menu {
  margin-left: 28px;
}
.main-burger {
  position: relative;
  width: 22px;
  height: 13px;
  margin-top: 14px;
  margin-left: 29px;
}
.burger-line {
  position: absolute;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: #0d3351;
}
.burger-line-1 {
  top: 13px;
}
.burger-line-2 {
  top: 6px;
}
.burger-line-3 {
  top: -1px;
}
.main-menu ul {
  display: none;
  position: absolute;
  top: 36px;
  left: 29px;
  box-sizing: border-box;
  padding: 75px 45px;
  width: 420px;
  background-color: #0d3351;
  list-style: none;
}
.user-block {
  margin-right: 21px;
}
.main-menu a {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  letter-spacing: 0.9px;
  text-decoration: none;
}
.user-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.user-menu a {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.7px;
  color: #0d3351;
  text-decoration: none;
}
.user-menu a:not(:last-child) {
  padding-left: 15px;
}
.user-menu ul {
  list-style: none;
}
.user-menu li:not(:last-child) {
  position: relative;
  margin-right: 53px;
}
.user-menu li:nth-child(2) {
  margin-right: 35px;
}
.user-info {
  margin-right: 14px;
}
.user-info .phone {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.user-info p {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px; 
  letter-spacing: 0.5px;
  margin: 0;
}
.personal-area-list,
.currency-list,
.language-list {
  display: none;
}
.personal-area-list {
  position: absolute;
  left: 45px;
}
.currency-list {
  position: absolute;
  left: 17px;
}
.language-list {
  position: absolute;
  left: 15px;
}
.personal-area,
.currency,
.language {
  position: relative;
}
.personal-area {
  background: url("../img/user.svg") no-repeat 0 2px;
}
.currency {
  background: url("../img/ruble.svg") no-repeat 0 2px;
}
.personal-area::after,
.currency::after,
.language::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -14px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #000;
}
.wrapper {
  text-align: center;
  margin-bottom: 320px;
}
.logo {
  margin-top: 15px;
  margin-right: 4px;
}
.wrapper-title {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.8px;
  color: #0d3351;
  margin: 2px 0px 15px;
}
.wrapper-title span {
  font-size: 100px;
  line-height: 161px;
  text-transform: uppercase;
  letter-spacing: -2.5px;  
}
.button {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.7px;
  color: #fff;
  text-decoration: none;
  background-color: #33c7fd;
  padding: 15px 50px;
}
.button:focus {
  outline: 2px solid #3254ff;
}
.button::after {
  content: "";
  position: absolute;
  top: 65px;
  right: 78px;
  width: 60px;
  height: 298px;
  background: url("../img/curve_line.png") no-repeat;
}
.price-header {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
}
.price-subtitle {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.8px;
  color: #0d3351;
}
.price-sorting {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #0d3351;
  text-decoration: none;
}
.price-sorting span {
  font-style: italic;
}
.price-sorting::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -15px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #000;
}
.price-item {
  width: 555px;
  background-color: #fff;
}
.price-wrapper {
  margin-left: 30px;
}
.price-link {
  position: relative;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.9px;
  color: #00a2dd;
  text-decoration: none;
}
.price-link::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -17px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #33c7fd;
}
.price-description {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #0d3351;
  letter-spacing: 0.7px;
}
.price-description strong {
  font-weight: bold;
}
.price-product {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  color: #0d3351;
  letter-spacing: 1.5px;
}


.hit-item {

}
.stock-item {

}
.discount-item {

}

